@model ToanThangEdu.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_ToanThangLayout.cshtml";
}
<div class="container form-horizontal">
    
    <div class="row">
        
        <div class="col-lg-12">
            <div class="widget-item">
                
                <h2 class="text-center">@ViewBag.Title.</h2>
                
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Mật khẩu hiện tại:", new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-5">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.Label("Mật khẩu mới", new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-5">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.Label("Nhập lại mật khẩu:", new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-5">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-10">
                            <input type="submit" value="Change password" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
