@model ToanThangEdu.Models.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container form-horizontal">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="widget-item">


                <div class="form-horizontal">
                    <h4 class="text-center">XÓA TIN TỨC</h4>
                    <hr />
                    <h3>Bạn có chắc là muốn xóa tin này không?</h3>
                    <div class="col-lg-12">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Tiêu đề")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt>
                                @Html.DisplayName("Đăng ngày")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NewsDate)
                            </dd>

                            <dt>
                                @Html.DisplayName("Thể loại tin")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NewsCategory.Name)
                            </dd>
                            <dt>
                                @Html.DisplayName("Người viết")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatorName)
                            </dd>
                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div class="col-md-offset-3 col-lg-9">
                                    <input type="submit" value="Xóa" class="btn btn-danger" />
                                    @Html.ActionLink("Quay lại", "Index", "News", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>